@import "tailwindcss";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: Lato, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Roboto Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --color-w0lfram1te-prose-body: 'var(--tw-prose-body)';
  --color-w0lfram1te-prose-header: 'var(--tw-prose-header)';
  
  --color-w0lfram1te-prose-invert-body: 'var(--tw-prose-invert-body)';
  --color-w0lfram1te-prose-invert-header: 'var(--tw-prose-invert-header)'; 

  --color-w0lfram1tepurple-500: #7c3aed;
}

/*@config "./tailwind.config.js";*/
/*https://github.com/tailwindlabs/tailwindcss-typography/blob/main/src/styles.js*/
@utility prose-purple {
  --tw-prose-links: var(--color-w0lfram1tepurple-500);
  --tw-prose-invert-links: var(--color-w0lfram1tepurple-500);
  font-size: 1.04rem;

  :where(h1):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    font-size: 1.75em;
    margin-top: 0;
    margin-bottom: 0.8888889em;
  }

  :where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 0.75em;
  }
}

