@import "tailwindcss";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: Lato, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Roboto Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --color-w0lfram1te-prose-body: 'var(--tw-prose-body)';
  --color-w0lfram1te-prose-header: 'var(--tw-prose-header)';
  
  --color-w0lfram1te-prose-invert-body: 'var(--tw-prose-invert-body)';
  --color-w0lfram1te-prose-invert-header: 'var(--tw-prose-invert-header)'; 

  --color-w0lfram1tepurple-500: #7c3aed;
}

/*@config "../../tailwind.config.js";*/

@utility prose-purple {
  --tw-prose-links: var(--color-w0lfram1tepurple-500);
  --tw-prose-invert-links: var(--color-w0lfram1tepurple-500);
}