@import "tailwindcss";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --text-base: 1rem;
  --text-base--line-height: calc(1.5 / 1);

  --font-sans: Lato, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Roboto Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --color-w0lfram1te-prose-body: 'var(--tw-prose-body)';
  --color-w0lfram1te-prose-header: 'var(--tw-prose-header)';
  
  --color-w0lfram1te-prose-invert-body: 'var(--tw-prose-invert-body)';
  --color-w0lfram1te-prose-invert-header: 'var(--tw-prose-invert-header)'; 

  --color-w0lfram1tepurple-500: #7c3aed;
}

@utility prose-purple {
  --tw-prose-links: var(--color-w0lfram1tepurple-500);
  --tw-prose-invert-links: var(--color-w0lfram1tepurple-500);
}

/*@config "./tailwind.config.js";*/
/*https://github.com/tailwindlabs/tailwindcss-typography/blob/main/src/styles.js*/
@utility prose {
  font-size: 1rem;
  line-height: 1.75;

  :where(h1):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    font-size: 1.75em;
    margin-top: 0;
    margin-bottom: 0.8888889em;
  };

  :where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    font-size: 1.4em;
    margin-top: 1em;
    margin-bottom: 0.75em;
  };

  /* modify code block behavior */
  /*:where(pre code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    background-color: transparent;
    border-width: 0;
    border-radius: 0;
    padding: 0;
    font-weight: inherit;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
  }*/

  /*:where(pre):not(:where([class~="not-prose"],[class~="not-prose"] *)) {*/
    /*font-size: 1.1em;*/
    /*line-height: 1.75;*/
    /*margin-top: 2em;*/
    /*margin-bottom: 2em;*/
    /*border-radius: 0.375rem;
    padding-top: 0.25em;
    padding-inline: 0.75em;
    padding-bottom: -0em;*/
  /*}*/
  /*:where(p code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {*/
    /*font-weight: 400;*/
    /*font-size: 0.8em;*/
    /*border-radius: 0.2rem;*/
    /*color: var(--tw-prose-pre-code);*/
    /*background-color: var(--tw-prose-pre-bg);*/
    /*padding-inline: calc(var(--spacing) * 1);*/
  /*};*/
  :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *))::before {
    content: none;
  };
  :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *))::after {
    content: none;
  };


}