<!doctype html>
<html font-sans>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/assets/css/tailwind-prod.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Roboto+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet"> 
  <!-- ... -->
  <title>{{ page.title }} | w0lfram1te </title>
</head>

<body class="bg-white font-sans">
  <div id=header class="container fixed top-0 z-10 mx-auto h-14 min-w-full border-b bg-white">
    <div id="progress" class="w-full h-1 z-20" style="background:linear-gradient(to right, #7C3AED var(--scroll), transparent 0);"></div>
    <div class="flex flex-row py-1 w-full h-full md:max-w-5xl mx-auto justify-center items-center px-5 md:px-10">
      <div class="w-36 font-mono text-lg text-center font-medium">
        <a href="/"><span class=text-purple-600>.</span>/w<span class=text-purple-600>0</span>lfram<span class=text-purple-600>1</span>te<span id=blink class="font-normal opacity-0">_</span></a>
      </div>
      <div class="flex-grow"></div>
      <div class="w-24 font-mono text-base text-center {% if page.title != 'whoami' %}font-bold underline{% endif %}">
        <a href="/">posts</a>
      </div>
      <div class="w-24 font-mono text-base text-center {% if page.url == '/whoami' %}font-bold underline{% endif %}">
        <a href="/whoami">whoami</a>
      </div>
   </div>
  </div>

  <div id=content class="container mt-24 mx-auto min-h-screen">
    {{ content }}
  </div>

  <div id=footer class="container mx-auto min-w-full bg-white">
    <div class="flex flex-row w-full md:max-w-3xl mx-auto justify-center py-5 px-5 md:px-10 border-t">
      <div class="flex-none font-mono">EOF</div>
   </div>

  <script src="/assets/js/base.js"></script>
</body>
</html>